.background {
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    z-index: -2;
    background-image: url('../../assets/body.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
   
}
.shadows-div {
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.69);
}

